<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" lang="ko-KR">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="uicyk" />
	<title>the14 Mask Store</title>

	<!--favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="./assets/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./assets/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./assets/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./assets/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./assets/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./assets/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./assets/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./assets/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./assets/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/ico/favicon-16x16.png">
	<link rel="manifest" href="./assets/ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Font Google -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7COpen+Sans:300,400,600,700,800%7CRufina:400,700&amp;display=swap" rel="stylesheet">

	<!-- Optional CSS -->
	<link href="assets/css/bootstrap_mask.min.css" rel="stylesheet" />
	<link href="assets/css/common.css" rel="stylesheet" />

	<!-- Optional JavaScript -->
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/common.js"></script>

</head>

<body class="order complete">
	<form>
		<!-- Navigation -->
		<div class="container">
		<nav class="navbar fixed-top">
			<div class="container">
				<h1 class="logo"><a href="index.html"><i></i><span>THE14 STORE</span></a></h1>

				<div class="dropdown lang_select">
					<a class="btndropdown-toggle ic_lang kor" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span>KO</span>
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item ic_lang kor" href="#"><span>KO</span></a>
						<a class="dropdown-item ic_lang jpn" href="#"><span>JP</span></a>
						<a class="dropdown-item ic_lang eng" href="#"><span>US</span></a>
						<a class="dropdown-item ic_lang spa" href="#"><span>ES</span></a>
						<a class="dropdown-item ic_lang zho" href="#"><span>CH</span></a>
						<a class="dropdown-item ic_lang vie" href="#"><span>VN</span></a>
					</div>
				</div>

				<p class="lookup"><a href="order_confirmation.html"></a></p>
			</div>
		</nav>
		</div>

		<!-- Page Content -->
		<div class="container cont_wrap">

			<section class="form_box comp_box">
				<div class="col-md-12 comp_card">
					<h4><strong>주문완료</strong> 되었습니다.</h4>
					<p class="col-sm-12">안전한 거래를 위해 고객님의 이메일로 주문 내역을 발송했습니다. <br /><span class="guide">메일이 도착하지 않았다면 재전송을 누르거나 주문번호를 반드시 저장하세요.</span></p>
					<!-- Button trigger modal -->
					<button type="button" class="btn type01" data-toggle="modal" data-target="#Common_Modal">
						주문내역 재전송
					</button>

					<!-- Modal -->
					<div class="modal fade" id="Common_Modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="ModalCenterTitle">주문내역 재전송</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									주문내역을 입력한 이메일로 재전송하시겠습니까?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
									<button type="button" class="btn btn-primary">전송</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<p class="col-sm-2 col-form-label">배송지</p>
					<ul class="col-sm-10">
						<li>최윤경(<em>회사</em>)</li>
						<li>+82 10-8501-8619</li>
						<li>sally.c@the14.com</li>
						<li>한국</li>
						<li>녹명빌딩 3층 더포틴</li>
						<li>강남구 테헤란로 10길 8</li>
						<li>서울특별시</li>
						<li>06234</li>
						<li>노크하고 문앞에 두세요</li>
					</ul>
				</div>

				<div class="form-group row">
					<p class="col-sm-2 col-form-label">주문번호</p>
					<ul class="col-sm-10">
						<li>2021021B1613371478</li>
					</ul>
					<p class="col-sm-12 info_txt error">주문번호는 주문 조회 시 필요하오니 반드시 저장하세요.</p>
				</div>
			</section>



			<section class="form_box">
				<h5>주문금액</h5>
				<div class="prcie_info">
					<ul class="row">
						<li class="col-md-4">주문상품<span><em>264,000</em>원</span></li>
						<li class="col-md-4">할인<span><em>-0</em>원</span></li>
						<li class="col-md-4">배송비<span><em>+0</em>원</span></li>
						<li class="col-md-12 total_price">최종결제금액<span><em>264,000</em>원</span></li>
					</ul>
				</div>
			</section>

			<section class="row form_box">
				<h5>주문상품</h5>
				<div class="total_products">
					<ul class="product_list">
						<li>
							<div class="img_lbox">
								<a href="./">
									<img src="assets/img/img_mc_w.png" alt="" width="64" height="64">
								</a>
							</div>

							<div class="info_rbox">
								<div class="info_item">
									<div class="prd_name">
										<a href="./">
											타스미세황사마스크 KF94 대형 블랙/화이트 30매 &#40;9+1 추가 증정 이벤트&#41;</a>
										<dl class="list_option">
											<dt>옵션 -</dt>
											<dd>MC / 대형 / <em>화이트</em></dd>
										</dl>
										<span class="count">수량 1개</span>
									</div>
									<div class="prd_price">
										<span class="custom"><em>88,000</em></span>
										<span class="prcie"><em>88,000</em>원</span>
										<span class="total_price2"><strong>88,000</strong>원</span>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="img_lbox">
								<a href="./">
									<img src="assets/img/img_mc_b.png" alt="" width="64" height="64">
								</a>
							</div>

							<div class="info_rbox">
								<div class="info_item">
									<div class="prd_name">
										<a href="./">
											타스미세황사마스크 KF94 대형 블랙/화이트 30매 &#40;9+1 추가 증정 이벤트&#41;</a>
										<dl class="list_option">
											<dt>옵션 -</dt>
											<dd>MC / 대형 / <em>블랙</em></dd>
										</dl>
										<span class="count">수량 2개</span>
									</div>
									<div class="prd_price">
										<span class="custom"><em>88,000</em></span>
										<span class="prcie"><em>88,000</em>원</span>
										<span class="total_price2"><strong>176,000</strong>원</span>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</section>

			<div class="text-center col-md-12">
				<a class="btn type02 mfull" href="index.html">
					상품으로 이동
				</a>
			</div>

		</div>


		<!-- Footer -->
		<footer>
			<div class="container">
				<span class="m-0 text-center">Copyright &copy; the14 2021</span>
			</div>
		</footer>

	</form>
</body>

</html>